<!DOCTYPE html>
<html lang='en' ng-app='forecats'>
<head>

  <title>Forecats</title>
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <meta charset='utf-8'>
  
  <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet" type="text/css">
  <link href='style.css' rel='stylesheet' type='text/css'>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.min.js"></script>

</head>
<body>
  
  <div class='container' ng-cloak>
    <header class='inset bright text-large'>Forecats</header>

    <!-- cats: -->
    <section ng-controller='catControl' ng-show='catId'>
      <img class='stretch' ng-src='//i.imgur.com/{{ catId }}.gif' width=100% height=auto>
      <!--<video class='stretch' -webkit-plays-inline repeat autoplay ng-if='canPlayType.mp4' ng-src='{{ "//i.imgur.com/" + catId + ".mp4" }}' type='video/mp4'>-->
      <!--<video class='stretch' -webkit-plays-inline repeat autoplay ng-if='!canPlayType.mp4 && canPlayType.webm' ng-src='{{ "//i.imgur.com/" + catId + ".webm" }}' type='video/webm'>-->
    </section>
    
    <!-- location/search: -->
    <section ng-controller='searchControl'>
      <div class='inset'>
        <span class='inset text-medium' ng-show='location'>Current weather in</span>
        <span>
          <input type='text' class='text-medium bright'
            ng-model='query'
            ng-focus='editLoc = !editLoc'
            ng-blur='editLoc = !editLoc'
            ng-class='{search: editLoc}'>
        </span>
        <!-- <div><span ng-click='handleSearch()'>Search</span></div> -->
      </div>
    </section>

    <!-- weather: -->
    <div class='inset weather-container' ng-controller='weatherControl' ng-show='forecast'>
      <div class='table'>
        <div class='table-row'>
          <div class='table-cell'>
            <canvas class='pull-middle' skycon='forecast.currently.icon' width='80' height='80'></canvas>
          </div>
          <div class='table-cell'>
            <span class='pull-middle text-large'>{{ forecast.currently.temperature | temp: degF }}</span>
          </div>
        </div>
        <div class='table-row text-small'>
          <div class='table-cell text-center'>
            <span>{{ forecast.currently.summary | lowercase }}</span>
          </div>
          <div class='table-cell'>
            <span class='text-left'>
              <div>Feels like {{ forecast.currently.apparentTemperature | temp: degF }}</div>
              <div>High {{ forecast.daily[0].temperatureMax | temp: degF }} at {{ forecast.daily[0].temperatureMaxTime * 1000 | date: 'h a' }}</div>
              <div>Low {{ forecast.daily[0].temperatureMin | temp: degF }} at {{ forecast.daily[0].temperatureMinTime * 1000 | date: 'h a' }}</div>
            </span>
          </div>
        </div>
      </div>

      <!-- hourly/daily weather -->
      <div class='table tc-100'>
        <div class='text-medium table-cell' ng-click='showHourly = !showHourly'>
          <span class='toggle' ng-class='{active: showHourly}'>Hourly</span>
          <span class='toggle' ng-class='{active: !showHourly}'>Daily</span>
        </div>
        <div class='table-cell'>
          <!-- TODO: incoroprate this localization into temperatures/times themselves -->
          <ul class='list list-inline text-tiny'>
            <li ng-click='time12h = !time12h'>
              <span class='toggle' ng-class='{active: time12h}'>12</span>
              <span class='toggle' ng-class='{active: !time12h}'>24</span>
            </li>
            <li ng-click='degF = !degF'>
              <span class='toggle' ng-class='{active: degF}'>&deg;F</span>
              <span class='toggle' ng-class='{active: !degF}'>&deg;C</span>
            </li>
          </ul>
        </div>
      </div>
      <ul class='inset list list-inline' ng-show='showHourly'>
        <li class='text-center' ng-repeat='hour in forecast.hourly'>
          <div class='text-small'>{{ hour.time * 1000 | date : 'h a' }}</div>
          <div>
            <canvas skycon='hour.icon' width='56' height='56' alt='{{ hour.summary }}'></canvas>
          </div>
          <div class='text-small'>{{ hour.temperature | temp: degF }}</div>
        </li>
      </ul>
      <ul class='inset list list-inline' ng-hide='showHourly'>
        <li class='text-center' ng-repeat='day in forecast.daily'>
          <div class='text-small'>{{ day.time * 1000 | date: 'EEE' }}</div>
          <div>
            <canvas skycon='day.icon' width='56' height='56' alt='{{ day.summary }}'></canvas>
          </div>
          <div class='text-small'>
            <span class='inset'>{{ day.temperatureMax | temp: degF }}</span>
            <span class='inset text-faded'>{{ day.temperatureMin | temp: degF }}</span>
          </div>
        </li>
      </ul>
    </div>

    <!-- credits: -->
    <footer class='text-center text-tiny' ng-controller='creditsControl' ng-show='imgurHref && forecastHref'>
      <div class='inset'>Powered by <a ng-href='{{ imgurHref }}'>Imgur</a> and <a ng-href='{{ forecastHref }}'>Forecast</a></div>
      <div class='inset'>
        <a href='//logitank.net'><span class='icon logitank-icon'></span></a>
        <a href='//github.com/abtrout/forecats'><span class='icon github-icon'></span></a>
      </div>
    </footer>
  </div>

  <script type="text/javascript" src='//maps.googleapis.com/maps/api/js?key=AIzaSyDkFGR3XRnMWwu7c1xgTX1KWiSZwUKA3aQ'></script>
  <script type='text/javascript' src='app.js'></script>

</body>
</html>

