* {
  padding: 0;
  margin: 0;
}

.container {
  color: #312B27;
  max-width: 550px;
  min-height: 100%;
  margin: 0 auto;
}

.container,
input[type=text] {
  font-family: 'Avenir Next Condensed', 'PT Sans Narrow', sans-serif;
}

header {
  margin: 2% 2% 1% 2%;
  line-height: 0.95em;
}

.cat-container { background-color: #E0DFDD; }

.cat-container img,
.cat-container video {
  width: 100%;
  height: auto;
}

.search-container,
.weather-container { margin: 2%; }

.weather-container .table {
  margin-bottom: 5%;
}

.locale-container {
  position: absolute;
  right: 1em;
  top: 1em;
}

.search-container .table {
  border: 2pt solid #312B27;  
  border-radius: 2em;
  padding: 0 0.5em;
}

.search-container .table-cell { padding: 6px 12px; }

footer { margin: 20% 0 1% 0; }

input[type=text] {
  outline: 0;
  font-size: inherit;
  border: 0;
  color: #312B27;
  background-color: rgba(0,0,0,0);
  text-overflow: ellipsis;
}

.search {
  background-color: black;
}

.inset,
.inset-v {
  padding-top: 2%;
  padding-bottom: 2%;
}
.inset,
.inset-h {
  padding-left: 2%;
  padding-right: 2%;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-cc { font-family: "Andale Mono", monospace; }

.pull-top { vertical-align: top; }
.pull-middle { vertical-align: middle; }

.pull-left { float: left; }
.pull-right { float: right; }

.text-xs { font-size: 1.15em; }
.text-sm { font-size: 1.50em; }
.text-md { font-size: 2.00em; }
.text-lg { font-size: 3.50em; }
.text-xl { font-size: 4.20em; }

.relative { position: relative }

.list { list-style: none; }
ul.list-inline > li {
  padding: 0 0.666em;
}
ul.list-inline > li {
  display: inline-block;
}

.table { display: table; }
.table-row { display: table-row; }
.table-cell {
  padding: 0 1em;
  display: table-cell;
}

.tc-1 { width: 1%; }
.tc-50 { width: 50%; }
.tc-100 { width: 96%; /*lies!*/ }

.toggle {
  margin: 0.5em 0.25em;
  border: 0;
  opacity: 0.4;
}

.toggle,
.no-select {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.toggle,
.mouse-pointer {
  cursor: pointer;
}

.toggle,
.faded {
  opacity: 0.4;
}

.toggle.active {
  opacity: 1; 
}

a,
.bright {
  color: #DE1717
}

a { text-decoration: none; }

.icon {
  display: inline-block;
  height: 48px;
  width: 48px;
  background: url('sprites.svg');
  background-size: 200%;
}

.icon.logitank-icon { background-position: 0 0; }
.icon.github-icon { background-position: 100% 0; }

@media screen and (min-width: 500px) {
  header { margin-top: 5%; }
  .weather-container { margin-left: 5%; }
}
