* {
  margin: 0;
}
body {
  margin: 3% 0;
}
.container {
  font-family: 'Avenir Next Condensed', 'PT Sans Narrow', sans-serif;
  color: #312B27;
  max-width: 515px;
  margin: 0 auto;
}
.cat-container {
  max-width: 550px;
}
.header {
  padding: 0 1em;
}
.line-height {
  line-height: 1;
}
.cat-container video,
.cat-container img {
  width: 100%;
  height: auto;
}

.text-xs { font-size: 1.0em; }
.text-sm { font-size: 1.5em; }
.text-md { font-size: 5.0em; }
.text-lg { font-size: 5.0em; }

.text-center  { text-align: center; }
.text-left    { text-align:   left; }
.text-right   { text-align:  right; }

.table {
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.table-cell {
  display: table-cell;
  vertical-align: bottom;
}
.tc-100 { width: 96%; }
.tc-50 { width: 50%; padding: 2%; }
.tc-1 { width: 1%; }

.pull-top {
  vertical-align: top;
}
.pull-middle {
  vertical-align: middle;
}
.inline {
  display: inline-block;
}
.inset {
  padding: 1em;
  box-sizing: border-box;
}
.narrow {
  padding: 0 2em;
  box-sizing: border-box;
}
.list-blank {
  list-style: none;
}
.offset-left {
  margin-left: 20%;
}
.hidden {
  display: none;
}
#query {
  font: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0);
  border: 0;
  outline: 0;
  text-overflow: ellipsis;
}
.search-container {
  border-radius: 2em;
  padding: 0 0.5em;
  border: 2pt solid #312B27;
}
.search-container .table-cell {
  padding: 7px 13px;
}
a,
.bright {
  color: #DE1717;
}
a {
  text-decoration: none;
}
.light {
  opacity: 0.50;
}
.cursor-pointer {
  cursor: pointer;
}
#poweredBy {
  display: none;
}
@media screen and (min-width: 500px) {
  body {
    margin: 2% 0 5% auto;
  }
  .narrow {
    padding: 0 5em;
  }
  #poweredBy {
    display: inline;
  }
}
